
* {
  margin: 0;
  padding: 0;

}

.body {
  background-color: #f9f4e3 ;
}


.custom-navbar  {
    background-color: #b1ba8e !important;
  color: #7a6448 ;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgb(24, 4, 4);
}

.navbar-nav li a {
  font-size: 18px;
}

.navbar-nav li a:hover {
  font-size: 25px;
  transition: all 2s;
}


.titulos {
    color:#7a6448;
  text-shadow: 3px 3px 5px #cdb28a;
}

.parrafos {
  font-size: small;

}


.custom-card{
  background-color: rgba(181, 169, 169, 0.733) !important;

}


.card img {
 
  padding: 5px;
}

.card-text {
  text-align: center;
  font-weight: bold;
}

.card-body {
  margin-top: -15px;

}

.btn .btn-outline-danger {
  width: 50px;
}

footer {
  background-color: #b1ba8e !important;
  color: #7a6448;
}

.social-links a {
  text-decoration: none;
  color: #7a6448;
}

